.front-nav {
  width: 100%;
  padding: 12px;
  text-align: right;
  position: relative;
  @include respond-to(phone) {padding: 0; display: none;}
  @include respond-to(smalltablet) {padding: 0; display: none;}
  @include respond-to(largetablet) {padding: 0; display: none;}

  .navbranding {
    max-width: 25%;
    display: none;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  #nav-menu-checkbox {
    display: none;
  }

  #nav-menu-checkbox:checked + ul {

  }

  label {
    display: none;


    .zh-menu-label {

    }
  }

  ul {
    list-style-type: none;
    width: 100%;

    li {
      display: inline-block;
    }
  }

  .om-btn {
    margin: 0 1em;
    padding-left: 1em;
    padding-right: 1em;

    @include respond-to(desktop) {margin: 0 .5em; padding-left: .5em; padding-right: .5em;}

    .btn-zh {

      &:after {
        content: '/';
        padding-left: 15px;
      }
    }
  }
}

.front-nav.inverse {
  background-color: $primary_brown;

  .navbranding {
    display: none;
  }

  .om-btn {
    border-color: $white;
    color: $white;

    &:hover {
      color: $primary_brown;
      background-color: $white;
    }
  }
}