.omashu-btn {
  font-family: $body_text;
  text-transform: uppercase;
  background-color: lighten($primary_blue, 10%);
  color: $white;
  padding: 5px 1em;
  border-radius: 0;
  margin: 5px;

  &.warning-btn {
    background-color: $warning;
  }
}

.btn.btn-light {
  font-family: $body_text;
  text-transform: uppercase;
  border: 2px solid $primary_blue;
  color: $primary_blue;
  background: $white;
}

.btn.btn-clear-danger {
  font-family: $body_text;
  text-transform: uppercase;
  border: 2px solid $warning;
  color: $warning;
  background: $white;
}