.login-form-container {
  width: 100vw;
  height: 100vh;
  padding: 50px 20px;
  text-align: center;

  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;

    img {
      width: 60%;
      display: block;
      margin: 30px auto;
    }
    
    .login-title {
      color: $primary_blue;
      text-align: center;
    }

    label {
      color: $primary_blue;
    }
  }
}